  <%- include('partials/head') %>

  <body>
    <%- include('partials/navbar') %>
    <div class="container">
      <div class="row">
        <% orderList.forEach((orders) => { %>
        <div class="card m-3" style="width: 18rem;">
          <img src="https://media.giphy.com/media/piYoJnSM5CLO8/giphy.gif" class="card-img-top bg-dark"
            alt="Image Product">
          <div class="card-body">
            <!-- <h5 class="card-title"><%= product.title %></h5> -->
            <p class="card-text">$ <%= orders.price %></p>
            <a href="#" class="btn btn-warning">Details</a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <%- include('partials/footer') %>